.portfolio-table {
  display: table;
  border-collapse: collapse;
  table-layout: auto;
}

.portfolio-table-cell-header {
  display: table-header-group;
}

.portfolio-table-header-cell {
  display: table-cell;
  padding: 0.5rem 0.5rem;
  font-weight: bold;
}

.portfolio-table-body {
  display: table-row-group;
}
