div.portfolio-table-cell input {
  border-style: none;
}
div.portfolio-table-cell input:focus {
  box-shadow: none;
}
.portfolio-table-row {
  display: table-row;
}
.portfolio-table-cell {
  display: table-cell;
  padding: 0.5rem 0.5rem;
}
