@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto+Mono:wght@600&display=swap');


.clickable:hover{
    cursor: pointer;
}

.modal-body{
    font-family: 'Open Sans', sans-serif;
}